.cardContainer {
    display: flex;
    flex-direction: row;
    height: 500px;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
}

.cardLeft {
    display: flex;
    flex-direction: column;
}

.cardTitle {
    font-weight: bold;
}

.cardDescription {
    overflow-y: scroll;
}

.cardImage {
    width: 50%;
    object-fit: contain;
}